<!-- Footer -->
                    <tr>
                        <td>
                            <table class="email-footer" align="center" width="570" cellpadding="0"
                                cellspacing="0">
                                <tr>
                                    <td  class="email-footer_cell">
                                        <p class="paragraph-sub">
                                            &copy; 
                                            <a class="anchor" href="<%- process.env.APP_URL %>" target="_blank"><%- process.env.APP_NAME %></a>.
                                            All rights reserved.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>