<%- include('../partials/head')  %>

</head>

<body>
    <%- include('../partials/header') %>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card mb-3">
                <div class="card-header">
                    <h3><i class="fa fa-user"></i> User detail</h3>
                </div>
                <div class="card-body">
                    <form id="addUserForm" method="post">
                        <div class="row">
                            <div class="col-lg-12 col-xl-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Full name (required)</label>
                                            <input class="form-control" name="name" type="text" value="" required />
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Valid Email (required)</label>
                                            <input class="form-control" name="email" type="email" value="" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Password (required)</label>
                                            <input class="form-control" name="password" type="password" value="" required/>
                                        </div>
                                    </div>
                                    <input type="hidden" name="role" value="Employee">
                                    <!--<div class="form-group col-lg-6">
                                        <label>Role (required)</label>
                                        <select class="form-control" name="role" required>
                                            <option value="" selected>Choose...</option>
                                            <option value="Admin">Admin</option>
                                            <option value="User">User</option>
                                        </select>
                                    </div>-->
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Phone Number</label>
                                            <input class="form-control" name="phone_number" type="text" value=""/>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label>Address</label>
                                            <input class="form-control" name="address" type="text" value=""/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary">Add User</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
    
    <%- include('../partials/footer') %>

    <%- include('../partials/defaultJs') %>

    <script>
        $(document).ready(function () {
    
            // add user form submit
            $("#addUserForm").submit(function (e) {
                e.preventDefault();
                let data = $(this).serialize();
                axios.post('/admin/users/add-user', data)
                    .then(function (response) {
                        successMsg(response.data.message);
                        setTimeout(function () {
                            location.href = "/admin/users/edit-user/"+response.data.data.returnId;
                        }, 1000);
                    })
                    .catch(function (error) {
    
                    });
            });
        });
    </script>

</body>

</html>