        </div>
    </div> 

    <!--**********************************
            Body container end
        ***********************************-->

    <div class="footer">
        <div class="copyright">
            <p>@All Copyrights Loved Ones | Developed by K Plex Solutions</p>
        </div>
    </div>

</div>  <!-- main wrapper end -->