<!DOCTYPE html>
<html>
<head>
    <meta name="ROBOTS" CONTENT="NOINDEX, FOLLOW"><meta name="ROBOTS" CONTENT="INDEX, NOFOLLOW"><meta name="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title><%- page_title %></title>

    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
	<link rel="manifest" href="/favicons/site.webmanifest">
	<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#4eb1cd">
	<link rel="shortcut icon" href="/favicons/favicon.ico">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-config" content="/favicons/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/admin-assets/vendor/toastr/css/toastr.min.css">
    <link href="/admin-assets/css/style.css" rel="stylesheet" type="text/css"/>
    <style>
        table.dataTable td.details-control {
            background: url('/admin-assets/images/details_open.png') no-repeat center center !important;
            cursor: pointer;
        }
        table.dataTable tr.shown td.details-control {
            background: url('/admin-assets/images/details_close.png') no-repeat center center !important;
        }
    </style>